@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/RobotoMono-VariableFont_wght.ttf")
    }

html, body {
    font-family: 'Roboto Mono', sans-serif !important;
}

.main {
    display: flex;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.main-left {
    flex: 0.75;
    display: flex;
    max-width: 75%;
    flex-direction: column;
}

.main-ground {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 40px;
    overflow-y: scroll;
    justify-content: space-around;
}

.main-right {
    flex: 0.25;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}


.main-header {
    margin-top: 20px;
    color: #F5F5F5;
    text-align: center;
}

.main-header h6{
   font-size: 25px;
}

.main-chat-window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main-message-container {
    padding: 22px 12px;
    display: flex;
}

.main-message-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

ul.messages {
    font-size: 20px;
}

.room-login .modal-content{
    background-color: #242324;
    color: white;
}

.room-login .modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.room-login .modal-header, .room-login .modal-footer {
    border: unset !important;
}

.room-login .modal-footer {
    padding-top: 0;
}

.room-login.modal {
    top: 30%;
}

ul.messages {
    padding-right: 10px;
    padding: 0px 20px;
}

li.message {
    word-break: break-word;
}

li.message-centered {
    text-align: center;
}

.armor-block {
    position: relative;
    height: 300px;
}

.armor-block img {
    height: 250px;
}

.armor-block input {
    position: absolute;
    width: 30px;
}

.armor-block input.head {
    top: 16%;
    left: 42%;
}

.armor-block input.torso {
    top: 36%;
    left: 45%;
}

.armor-block input.r-arm {
    top: 45%;
    left: 25%;
}

.armor-block input.l-arm {
    top: 45%;
    left: 67%;
}

.armor-block input.l-leg {
    top: 70%;
    left: 56%;
}

.armor-block input.r-leg {
    top: 70%;
    left: 37%;
}

/* hp */

.armor-block input.head-hp {
    top: 25%;
    left: 42%;
}

.armor-block input.torso-hp {
    top: 45%;
    left: 45%;
}

.armor-block input.r-arm-hp {
    top: 54%;
    left: 25%;
}

.armor-block input.l-arm-hp {
    top: 47%;
    left: 33%;
}

.armor-block input.l-arm-hp {
    top: 54%;
    left: 67%;
}

.armor-block input.l-leg-hp {
    top: 79%;
    left: 56%;
}

.armor-block input.r-leg-hp {
    top: 79%;
    left: 37%;
}

.boi, .goon {
    border: 1px solid;
    display: flex;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    transition: background-color 1s linear;
}

.goons, .bois {
    width: 550px;
}

.goons {
    margin-right: 10px;
}

.add-button {
    min-width: 100%;
}

.goons-block, .bois-block {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 930px;
    overflow-y: auto;
}

input {
    text-align: center;
}

.hp {
    color: red;
}

.additional-info {
    width: 300px;
    height: 400px;
}

.goon.changed, .boi.changed {
   background-color: red;      
}

.buttons-block {
    position: absolute;
    top: 113%;
    display: flex;
}

.additional-info {
    border-left: 1px solid;
}

@media screen and (max-width: 1400px) {
    .goons, .bois {
        margin: auto;
    }
    .main-left {
        overflow: overlay;
    }
    .main-ground {
        display: block;
    }
}
