html, body {
    font-family: 'Teko', sans-serif !important;
}

.main {
    height: 100vh;
    display: flex;
}

.main-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main-right {
    flex: 0.2
}

.main-ground {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main-right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
    display: flex;
    flex-direction: column;
}


.main-header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main-chat-window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main-message-container {
    padding: 22px 12px;
    display: flex;
}

.main-message-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

